@import url('https://fonts.googleapis.com/css?family=Cabin|Open+Sans&display=swap');
@import url('https://css.gg/c?=|pin');

:root {
  --theme: 'hello';
}

html,
body {
  position: relative;
  width: 100%;
  min-height: 99vh;
  font-size: 16px;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cabin';
}

a {
  color: #01796f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #015b53;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
